.fundjourney-all{
   margin-top: 240px;
   margin-bottom: 240px;
  
  }
  .fundjourney-head{
   padding-left: 120px;
   font-weight: 600!important;
   font-size: 20px!important;
   font-family: "Nunito",sans-serif!important;
   padding-top: 10px;
  }
  .fundjourneyabout-content{
   color:  #828c98;
   padding-left: 120px;

  }
  .fundmutual-btn{
   padding-top: 10px;
   padding-left: 120px;

  }
